
 @import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Nixie+One&family=Source+Code+Pro&display=swap');


body {
    font-family:'Courier Prime', monospace, 'Source Code Pro', monospace, sans-serif, 'Times New Roman', Times;
    background-color: #778da2;
    max-width: 2400px;
    z-index: 0;
    margin: 0;
    padding: 0;
}

/*
* {
    margin: 0;
    padding: 0;
}*/

/*header*/

#top {
    width:100%;
    background-color: #546372;
    position:fixed;
    top:0;
    z-index: 1;

}


#logo {
    font-size: 300%;
    float:left;
    margin: 20px 0 5px 5px;
    color:#F2FAFF;

}

nav {
    float: right;
    margin: 20px 5px 0 0;
    color:#F2FAFF
}

li {
    list-style-type: none;
}

nav > ul > li {
    display:inline;
    font-size: 150%;
    color:#F2FAFF
}

ul > li > a {
    color:#F2FAFF;
    text-decoration: none;
}

a:hover {
    color:#778da2;
    background-color: #F2FAFF;
}

.thispage {
    color:#778da2;
    background-color: #F2FAFF;
}

/*hero-image*/
/*added as placeholder, I may remove if I have time to experiment with background video instead*/


#ad-div {
    width: 100%;
}

#ad { 
    width: 100%    !important;
    height: auto   !important;
    padding:10px auto;
   
}



 #summary-div {
    max-width: 100%;
    padding:100px 0;
    text-align:center;
    color:#F2FAFF;
    }

#summary {
  padding: 0 100px;
  line-height: 1.5em;
}




/*gallery*/







#gallery {
    box-sizing: border-box;
    display:flexbox;
    flex-direction: column;
    /*typically justify-content: center; and align-items: center; would be used to center images in a flex box, however it doesn't work for me here when I use it on the parent div. I am unsure why. It works ok with text-align: cener; so I will use that*/
    text-align: center;
}


.pics {
    width: 350px;
    height: 350px;
    border-radius: 5%;
    object-fit: cover;
    }

/*footer*/

#social {
    width: 100%;
    height: 150px;
    align-items: center;
    padding-top: 30px;
    background-color: #546372;
    font-size:150%;
    text-align: center;
    margin-bottom: 0;
}

#social-links {
    margin-top: 55px;
    align-items: center;
}

#social > ul {

}

#social > ul > li {

    display:inline;
    text-decoration: none;
    margin: 20px;
}

#social > ul > li > a {

    /*padding: 0 20px;*/
    /*margin: 20px;*/
}





/* about */








#intro {
    width:75%;
    margin: 175px auto;
    display: block;
    text-align: center;
    color:#F2FAFF;
    background-color: #778da2;
}

#video {
    margin:0 auto 175px auto;
    width:70%;
    /*
    margin: 0 100px;
    */
}

#about-video {
    width:100%;
}


#area {
    width:100%;
    display: block;
    height: 550px;
    margin:0;
}

#area-left {
    width:50%;
    float:left;
    text-align: left;
}

#area-right {
    background:url(../images/street.jpeg);
    background-position: center;
    background-repeat: no;
    width:50%;
    height:100%;
    float:right;
}
#area-p {
    color: #F2FAFF;
    padding: 40px;
    margin-top: 20px;
    line-height: 2em;
}

#dog {
    width:100%;
    display: block;
    height: 550px;
    margin:0;
}

#dog-left {
    background:url(../images/pooch1.jpeg);
    background-position: center;
    width:50%;
    height:100%;
    float:left;
}

#dog-right {
    width:50%;
    float:right;
}

#dog-p {
    color: #F2FAFF;
    padding: 40px;
    margin-top: 20px;
    line-height: 2em;
}

#coffee {
    width:100%;
    display: block;
    height: 550px;
    margin:0;
}

#coffee-left {
    width:50%;
    float:left;
}

#coffee-right {
    background:url(../images/coffee3.jpeg);
    background-position: center;
    width:50%;
    height:100%;
    float:right;
}

#coffee-p {
    color: #F2FAFF;
    padding: 40px;
    margin-top: 20px;
    line-height: 2em;
}

#bake {
    width:100%;
    display: block;
    height: 550px;
    margin:0;
}

#bake-left {
    background:url(../images/sandwich1.jpeg);
    background-position: center;
    width:50%;
    height:100%;
    float:left;
}

#bake-right {
    width:50%;
    float:right;
}


#bake-p {
    color: #F2FAFF;
    padding: 40px;
    margin-top: 20px;
    line-height: 2em;
}


#food {
    width:100%;
    display: block;
    height: 550px;
    margin:0;
}

#food-left {
    width:50%;
    float:left;
}

#food-right {
    background:url(../images/breakfast2.jpeg);
    background-position: center;
    width:50%;
    height:100%;
    float:right;
}


#food-p {
    color: #F2FAFF;
    padding: 70px 40px;
    margin-top: 20px;
    line-height: 2em;
}


#goals-ethics {
    width:100%;
    color:#F2FAFF;
    display: block;
    height: 400px;
    padding: 50px 0;
}

#goals-ethics-left {

    width:50%;
    height:100%;
    float:left;
}

#goals {
    padding: 80px 60px;
}

#goals-ethics-right {

    width:50%;
    float:right;
}

#ethics{
    padding: 70px 40px;
}









/*menu*/









#menu {
    color:#F2FAFF;
    margin: 200px 0 0 40px;
    width: 90%;
    height: 1100px;
}

#toasties {
    width: 30%;
    height: 1000px;
    padding: 15px; 
    float: left;
}

#toasties > ul > li {
    margin-bottom: 1em;

}

#breakfast {
    width: 30%;
    height: 1000px;
    padding: 15px;
    float: left;
}

#breakfast > ul > li {
    margin-bottom: 1em;

}

#drinks {
    width: 30%;
    padding: 15px;
    height: 1000px;
    float: left;
}

#coffee-h4 {
	margin: 1em 0;
	}

#tea-h4 {
    margin: 1em 0;
    }

#cold-h4 {
    margin: 1em 0;
    }   

#allergens {
    display: block;
    padding: 40px;
    color: #F2FAFF;
}








/*contact*/











#contact {
    display:block;
    width: 100%;
    height:700px;
    padding-top: 150px;
}

#form {
    background-color: #F2FAFF;
    color:#778da2;
    border: solid 2px grey;
    width: 30%;
    float: left;
    height: 650px;
    margin: 10px;
}

#map-container {
    background-color: #F2FAFF;
    height:650px;
    width: 45%;
    float: right;
    color:#778da2;
}

#map {
    width: 80%;
    height: 400px;
    margin: 10px;
}

iframe {
    width:100%;
}

#form-1 {
    margin-bottom: 5px;

}

.info {
    display:block;
    line-height: 2em;
}

#form-2 {
    margin-bottom: 5px;
}

.favourite {
    display:block;
    line-height: 2em;
}

#button {    
    text-align: center;
    margin-top: 10px;
}

button {
    width: 25%;
}

#map-window {
    width: 100%;
    height: 100%;
}




/*  responsive media queries */ 


@media only screen and (min-width: 1700px) {
 

    #logo {
        font-size: 400%;

    
    }
    

    
    nav > ul > li {

        font-size: 250%;

    }


    #summary {
        line-height: 2em;
        font-size: 150%;
      }
      
      #social > ul > li {
    
        font-size: 150%;

    }
}

@media only screen and (max-width: 1000px) {
  p {
        line-height: 1.5em !important;
        padding:0;
        margin:0;
    } 
}



@media only screen and (max-width: 800px) {

    /*index*/

    body {
        max-width: 800px;
    }

    .pics {
        width:250px;
        height:250px;
        border-radius: 5%;
        object-fit: cover;
        }

        #top {
            max-width:100%;
            max-height: 175px;
            background-color: #546372;
            position:fixed;
            top:0;
            z-index: 1;
        
        }
        
        
        #logo {
            float:left;
            font-size: 175%;
            margin: 10px 5px 0 5px;
            color:#F2FAFF;
        
        }
        
        nav {
            margin:0;
            float:left;
            color:#F2FAFF;
        }
        
        nav > ul {
            padding: 5px;
        }
        
        nav > ul > li {
        
            font-size: 80%;
            color:#F2FAFF
        }

        #social {
            width:100%;
            height: 100%;
            background-color: #546372;
            padding: 0;
            font-size:100%;
        
            }
            
            #social-links {
                margin-bottom: 0;
                /*margin-top: 55px;
                margin-right: 175px;*/
            }
            
            #social > ul {
                padding: 2px;
            }
            
            #social > ul > li {
            
                display:block;
                text-decoration: none;
        
            }
        
        /*about*/
        /*in lower screen size, the left and right div layout ceases, instead becomes a standard vertical layout div by div. However, because of the layout I need to reverse the css for left and right sections, so that the pictures each come after the text in lower screen size*/
        
        #intro {
            margin: 200px auto 100px auto;
        }

        #video {
            margin:0 auto 100px auto;
            width:70%;
            /*
            margin: 0 100px;
            */
        }
        
        #about-video {
            width:100%;
        }

        #area {
            width:100%;
            height: 1000px;
            display: block;
            margin: 30px auto;
        }
        
        #area-left {
            width:100%;
            float:none;
        }
        
        #area-right {
            width:100%;
            height:50%;
            float:none;
            background:url(../images/street.jpeg);
            background-position: center;
            background-repeat: no;
        }
        #area-p {
            color: #F2FAFF;
            padding: 40px;
            margin-top: 20px;
        }
        
        #dog {
            height: 1000px;
            float:none;
            display: block;
            margin: 30px auto;
        }
        
        #dog-left {
            width:0;
            height:0;
            background:none;
        }
        
        #dog-right {
            float:none;
            width:100%;
            
        }
        #dog-hidden {
            background:url(../images/pooch1.jpeg);
            background-position: center;
            width:100%;
            height:50%;
            float:none;
        }
        
        #dog-p {
            color: #F2FAFF;
            padding: 40px;
            margin-top: 20px;
        }
        
        #coffee {
            width:100%;
            height: 1000px;
            float:none;
            display: block;
            margin: 30px auto;
        }
        
        #coffee-left {
            width:100%;
            float:none;
           
        }
        
        #coffee-right {
            background:url(../images/coffee3.jpeg);
            background-position: center;
            width:100%;
            height: 50%;
            margin-bottom: 40px;
            float:none;
        }
        
        #coffee-p {
            color: #F2FAFF;
            padding: 40px;
            margin-top: 20px;
            line-height: 1.5em;
        }
        
        #bake {
            width:100%;
            height: 1000px;
            margin:  40px auto 30px auto;
            display: block;
            float:none;
        }
        
        #bake-left {
            width:0;
            height:0;
            background:none;
            float:none;
        }
        
        #bake-right {
            width:100%;
            float:none;

            
        }

        #bake-hidden {
            background:url(../images/sandwich1.jpeg);
            background-position: center;
            width:100%;
            height:50%;
            float:none;
        }
        
        #bake-p {
            color: #F2FAFF;
            padding: 40px;
            margin-top: 20px;
            line-height: 2em;
            float:none;
        }
        
        
        #food {
            width:100%;
            display: block;
            height: 1000px;
            margin: 30px auto;
            float:none;
        }
        
        #food-left {
            width:100%;
            float:none;
        }
        
        #food-right {
            background:url(../images/breakfast2.jpeg);
            background-position: center;
            width:100%;
            height:50%;
            float:none;
        }
        
        
        #food-p {
            color: #F2FAFF;
            padding: 70px 40px;
            margin-top: 20px;
            line-height: 2em;
        }
        
        #goals-ethics {
            width:100%;
            color:#F2FAFF;
            display: block;
            height: auto;
            margin:0 auto;
        }
        
        #goals-ethics-left {
        
            width:100%;
            height:100%;
            float:none;
        }
        
        #goals {
            width: 75%;
            padding:0;
            margin:0 auto;
        }
        
        #goals-ethics-right {
        
            width:100%;
            float:none;

        }
        
        #ethics{
            width: 75%;
            margin:0 auto;
        }
        
      
}




@media only screen and (max-width: 450px) {
  * {
    max-width: 450px;
  }

  #top {
    max-width:100%;
    max-height: 100px;
    background-color: #546372;
    position:fixed;
    top:0;
    z-index: 1;

}


#logo {
    float:left;
    font-size: 125%;
    margin: 10px 5px 0 5px;
    color:#F2FAFF;

}

nav {
    margin:0;
    float:left;
    color:#F2FAFF;
}

nav > ul {
    padding: 5px;
}

nav > ul > li {

    font-size: 75%;
    color:#F2FAFF
}


  #ad {

  margin: 120px 0 40px;
  }

  #summary-div {
    width: 300px;
    padding:0;
    margin: 0 auto;
    color:#F2FAFF;
    }

#summary {
  width: 100%;
  margin: 0 auto;
  padding: 10px 0 20px 0;
  line-height: 1.5em;
}


.pics {
    width:175px;
    height:175px;
    border-radius: 5%;
    object-fit: cover;
    }

    footer {
        width:100%;
        height:100%;
    }

    #social {
    width:100%;
    height: 100%;
    background-color: #546372;
    padding: 0;
    font-size:100%;

    }
    
    #social-links {
        /*margin-top: 55px;
        margin-right: 175px;*/
    }
    
    #social > ul {
        padding: 2px;
    }
    
    #social > ul > li {
    
        display:block;
        text-decoration: none;

    }


    /* about */ 

    #video {
        margin:0 auto 60px auto;
        width:85%;
        /*
        margin: 0 100px;
        */
    }

    #area {
        height: 1200px;
    }

    #area-right {
        width:100%;
        height:35%;
        float:none;
        background:url(../images/street.jpeg);
        background-position: center;
        background-repeat: no;
}

#dog {
    height: 1200px;
}

#dog-hidden {
        background:url(../images/pooch1.jpeg);
        background-position: center;
        width:100%;
        height:35%;
        float:none;
    }
#coffee {
    height:1200px;
}

#coffee-right {
        background:url(../images/coffee3.jpeg);
        background-position: center;
        width:100%;
        height:35%;
        margin-bottom: 40px;
        float:none;
    }

#bake-hidden {
        background:url(../images/sandwich1.jpeg);
        background-position: center;
        width:100%;
        height:35%;
        float:none;
    }

    #food {

        height: 1200px;

    }

#food-right {
        background:url(../images/breakfast2.jpeg);
        background-position: center;
        width:100%;
        height:35%;
        float:none;
    }
    
}