
 @import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Nixie+One&family=Source+Code+Pro&display=swap');


body {
    font-family:'Courier Prime', monospace, 'Source Code Pro', monospace, sans-serif, 'Times New Roman', Times;
    background-color: #778da2;
}

/*
* {
    margin: 0;
    padding: 0;
}*/

/*header*/

#top {
    width:100%;
    height:100px;
    background-color: #778da2;
    position:fixed;
    top:0;

}


#logo {
    font-size: 300%;
    float:left;
    margin: 20px 0 5px 5px;
    color:#F2FAFF;

}

nav {
    float: right;
    margin: 20px 5px 0 0;
    color:#F2FAFF
}

li {
    list-style-type: none;
}

nav > ul > li {
    display:inline;
    font-size: 150%;
    color:#F2FAFF
}

ul > li > a {
    color:#F2FAFF;
    text-decoration: none;
}

a:hover {
    color:#778da2;
    background-color: #F2FAFF;
}

.thispage {
    color:#778da2;
    background-color: #F2FAFF;
}

/*hero-image*/
/*added as placeholder, I may remove if I have time to experiment with background video instead*/

#window1 {
    width:100%;
    height: 500px;
    background: url('../images/window3.jpeg');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    overflow: hidden;
}

#window1 div {
    /*background-color: rgba(0, 0, 0, 0.3);*/
    width: 100%;
    height: 500px;
}

 #summary-div {
    width: 100%;
    padding:100px 0;
    text-align:center;
    color:#F2FAFF;
    }

#summary {
  padding: 0 100px;
}


/*gallery*/

#gallery {
    box-sizing: border-box;
    display:flexbox;
    flex-direction: column;
    /*typically justify-content: center; and align-items: center; would be used to center images in a flex box, however it doesn't work for me here when I use it on the parent div. I am unsure why. It works ok with text-align: cener; so I will use that*/
    text-align: center;
}


.pics {
    width: 350px;
    height: 350px;
    border-radius: 5%;
    object-fit: cover;
    }

/*footer*/

#social {
    width: 100%;
    height: 200px;
    align-items: center;
    padding-top: 30px;
    background-color: #778da2;
    font-size:150%;
    text-align: center;
    margin-bottom: 0;
}

#social-links {
    margin-top: 55px;
    align-items: center;
}

#social > ul > li, a {
    display:inline;
    text-decoration: none;
    margin: 20px;
}


/* about */

#intro {
    text-align: center;
    color:#F2FAFF;
    background-color: #778da2;
    padding: 200px 100px 100px 100px;
}

#video {
    width:100%;
    display: block;
    text-align: center;
}

#ad-video {
    margin-bottom: 150px;
}


#area {
    width:100%;
    display: block;
    height: 400px;
    margin:0;
}

#area-left {
    width:50%;
    float:left;
    text-align: left;
}

#area-right {
    background:url(../images/street.jpeg);
    background-position: center;
    width:50%;
    height:100%;
    float:right;
}
#area-p {
    color: #F2FAFF;
    padding: 70px 40px;
    margin-top: 20px;
}

#dog {
    width:100%;
    display: block;
    height: 400px;
    margin:0;
}

#dog-left {
    background:url(../images/pooch1.jpeg);
    background-position: center;
    width:50%;
    height:100%;
    float:left;
}

#dog-right {
    width:50%;
    float:right;
}

#dog-p {
    color: #F2FAFF;
    padding: 70px 40px;
    margin-top: 20px;
}

#coffee {
    width:100%;
    display: block;
    height: 400px;
    margin:0;
}

#coffee-left {
    width:50%;
    float:left;
}

#coffee-right {
    background:url(../images/coffee3.jpeg);
    background-position: center;
    width:50%;
    height:100%;
    float:right;
}

#coffee-p {
    color: #F2FAFF;
    padding: 70px 40px;
    margin-top: 20px;
}

#bake {
    width:100%;
    display: block;
    height: 400px;
    margin:0;
}

#bake-left {
    background:url(../images/sandwich1.jpeg);
    background-position: center;
    width:50%;
    height:100%;
    float:left;
}

#bake-right {
    width:50%;
    float:right;
}


#bake-p {
    color: #F2FAFF;
    padding: 70px 40px;
    margin-top: 20px;
}


#food {
    width:100%;
    display: block;
    height: 400px;
    margin:0;
}

#food-left {
    width:50%;
    float:left;
}

#food-right {
    background:url(../images/breakfast2.jpeg);
    background-position: center;
    width:50%;
    height:100%;
    float:right;
}


#food-p {
    color: #F2FAFF;
    padding: 70px 40px;
    margin-top: 20px;
}


#goals-ethics {
    width:100%;
    color:#F2FAFF;
    display: block;
    height: 400px;
    padding: 50px 0;
}

#goals-ethics-left {

    width:50%;
    height:100%;
    float:left;
}

#goals {
    padding: 80px 60px;
}

#goals-ethics-right {

    width:50%;
    float:right;
}

#ethics{
    padding: 70px 40px;
}

/*menu*/

#menu {
    color:#F2FAFF;
    padding-top: 150px;
}

#toasties {
}

#toasties > ul > li {
    margin-bottom: 1em;

}

#breakfast > ul > li {
    margin-bottom: 1em;

}

#drinks {
}

#coffee-h4 {
	margin: 1em 0;
	}

#tea-h4 {
    margin: 1em 0;
    }

#cold-h4 {
    margin: 1em 0;
    }   

#allergens {
    margin-top: 1em;
}

/*contact*/

#contact {
    display:block;
    width: 100%;
    height:700px;
    padding-top: 150px;
}

#form {
    background-color: #F2FAFF;
    color:#778da2;
    border: solid 2px grey;
    width: 30%;
    float: left;
    height: 650px;
    margin: 10px;
}

#map {
    
    width: 45%;
    height: 400px;
    float: right;
    margin: 10px;
}

iframe {
    width:100%;
}

#form-1 {
    margin-bottom: 5px;

}

.info {
    display:block;
    line-height: 2em;
}

#form-2 {
    margin-bottom: 5px;
}

.favourite {
    display:block;
    line-height: 2em;
}

#button {    
    text-align: center;
    margin-top: 10px;
}

button {
    width: 25%;
}

#map-window {
    width: 100%;
    height: 100%;
}